#maven ignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#idea ignore
.idea
*.ipr
*.iml
*.iws

#eclipse ignore
.settings/
.project
.classpath

#temp ignore
logs
*.log
*.cache
*.diff
*.patch
*.tmp
*.rdb

# system ignore
.DS_Store
Thumbs.db
*.orig

#flatten ignore
.flattened-pom.xml